<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>
    <ion-icon name="done-all" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"></ion-icon>
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        inputmode="email"
        autofocus="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" color="primary" slot="start"></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="authForm.invalid">Entrar</ion-button>
  </form>

  <ion-button expand="block" fill="clear">Registrar</ion-button>
</ion-content>
