<ion-header>
  <ion-toolbar>
    <ion-title>Dieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Resultado</h1>
  <ion-item>
  <ion-text padding>
    1500kcal - 600kcal proteina, 300kcal carboidratos, 600kcal gordura<br />
    4refeições - 375kcal por refeição<br />

    1- 97g ovo, 87g batata doce, 26g pasta de amendoim<br />
    2 - 47g aipim, 102g carne, 25g nozes<br />
    3 - 58g arroz branco, 63g frango, 17g azeite<br />
    4 - 87g peixe, 61g banana da terra, 26g amendoim<br />
  </ion-text></ion-item>
</ion-content>
