<!--
<ion-header>
  <ion-toolbar>
    <ion-title>hey ya</ion-title>
  </ion-toolbar>
</ion-header>
-->
<!--
<form class="form-horizontal">
  <div class="form-group">
    <div class="controlPeso">
      <label class="control-label">Peso</label>
    </div>
    <div class="controlPeso">
      <input name="peso" class="form-control" id="peso" placeholder="00.00" />
    </div>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
-->

<div>
  <form name="formulario" (ngSubmit)="onClick()">
    <div class="form-group">
      <label for="peso">Peso</label>
      <input type="text" class="form-control" name="peso" id="peso" required />
    </div>
    <div class="form-group">
      <label for="altura">Altura</label>
      <input type="text" class="form-control" name="altura" id="altura" required />
    </div>
    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="text" class="form-control" name="idade" id="idade" required />
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Salvar" />
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  </form>
</div>
